@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);


body {
	background: #444;
	color: #48a770;
	font-weight: 300;
	font-family: 'Lato', Calibri, Arial, sans-serif;
}

a {
	text-decoration: none;
	color: rgb(192, 107, 152);
	outline: none;
}

a:hover, a:focus {
	color: #2c774b;
	outline: none;
}

.clearfix:before,
.clearfix:after {
	display: table;
	content: " ";
}

.clearfix:after {
	clear: both;
}

.c-header,
.c-top {
	font-family: 'Lato', Arial, sans-serif;
}

.c-header {
	margin: 0 auto 3em;
	text-align: center;
}

.c-header h1 {
	margin: 0;
	font-weight: 300;
	font-size: 2.625em;
	line-height: 1.3;
}

.c-header span {
	display: block;
	padding: 0 0 0.6em 0.1em;
	font-size: 60%;
	color: #aca89a;
}

.main {
	max-width: 69em;
	margin: 0 auto;
}

.column {
	float: left;
	width: 50%;
	padding: 0 2em;
	min-height: 300px;
	position: relative;
	text-align: right;
}

.column:nth-child(2) {
	box-shadow: -1px 0 0 rgba(0,0,0,0.1);
	text-align: left;
}


.column div.layer {
	font-weight: 300;
	font-size: 2em;
	padding: 0 0 0.3em;
	margin: 0;
	line-height: 1.5;
}

::-moz-selection {
       background-color: #FFA;
       color: #990000;
}

::selection {
       background-color: #FFA;
       color: #990000;
}

button {
	border: none;
	padding: 0.6em 1.2em;
	background: #f3efe0;
	color: #48a770;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	margin: 3px 2px;
	border-radius: 2px;
}

.info {
	text-align: center;
	font-size: 1.5em;
	margin-top: 3em;
	clear: both;
	padding: 3em 0;
	opacity: 0.7;
	color: #aca89a;
}

.info a {
	font-weight: 700;
	font-size: 0.9em;
}

@media screen and (max-width: 46.0625em) {
	.column {
		width: 100%;
		min-width: auto;
		min-height: auto;
		padding: 2em; 
		text-align: center;
	}

	.column p {
		font-size: 1.5em;
	}

	.column:nth-child(2) {
		text-align: center;
		box-shadow: 0 -1px 0 rgba(0,0,0,0.1);
	}
}

@media screen and (max-width: 25em) {
	.c-header {
		font-size: 80%;
	}
}