@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
@media print{
	body{ font-family: 'Roboto Slab'; font-weight: 400;}
	.SiteHeader, .ContentPageFeed, .ActionBar.Question, .Answer.ActionBar, .ObjectCard-body, .ObjectCard-footer ,.inline_editor_create ,.action_item.overflow ,.InteractionModeBanner ,.ErrorBanner{	visibility: hidden;	}
	.Standard2ColLayout:after{	content: '';}
	.qlogo{	height: 200px; width: 200px; font: bold; font-size: 2.5em; background-color: #FFFFFF; color: #b42626;}
}