html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

.fullform{
    margin-left: 30px;
    float: left;
    margin-bottom:30px;
}

.imagee{
    margin-top: 50px;
    float: right;
}

img:after{
    content: 'Douglas Crockford'
}

.titlecenter{
    margin-top: 60px
}

::selection { background-color: #FFA; color: #990000;}

h1.whatisjson {
    font-weight:bold;
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom:3px solid black;
    font-size:60px;
    margin-bottom:40px;
}

ul.aboutjson li {
    font-size: 37px;
    padding-top: 40px;    
    margin-left: 30px;
}

ul.writejson li,ul.writejson2 li{
    font-weight: normal;
    font-size: 32px;
    margin-left: 30px;   
}

a{
    text-decoration: none;
    color: white;
}

ul.writejson li{
    padding-top: 28px;    
}

ul.writejson2 li{
    padding-top: 18px;    
}

span.usage{
    font-size: 21px;
    padding-left:55px;

}


ul li:before, .cube ul li:before{
    content: '✎ \0020';
}

.cube ul li{
    font-size: 25px;
    text-decoration: none;
}

span.jsonvalues{
    font-size: .85em;
    font-weight: bolder;
    padding-left: 48px;
}

span.jsonnote{
    font-size: .84em;
    font-weight: bolder;

}

span.tttitle{
    font-size: 148px;
    color:#993366;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

#sp1{
    float: left;
    font-weight: 400;
    margin-top: 60px
}

#sp2{
    float: right;
    margin-top: 48px;
}

body {
    min-height: 740px;

    background: rgba(224,247,250,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(224,247,250,1) 0%, rgba(0,187,212,1) 52%, rgba(0,97,100,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(224,247,250,1)), color-stop(52%, rgba(0,187,212,1)), color-stop(100%, rgba(0,97,100,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(224,247,250,1) 0%, rgba(0,187,212,1) 52%, rgba(0,97,100,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(224,247,250,1) 0%, rgba(0,187,212,1) 52%, rgba(0,97,100,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(224,247,250,1) 0%, rgba(0,187,212,1) 52%, rgba(0,97,100,1) 100%);
background: radial-gradient(ellipse at center, rgba(224,247,250,1) 0%, rgba(0,187,212,1) 52%, rgba(0,97,100,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f7fa', endColorstr='#006164', GradientType=1 );
}

b, strong { font-weight: bold }
i, em { font-style: italic }

.impress-supported .fallback-message {
    display: none;
}

.jsontitle {
    font-weight:bold;
    font-size:100px;
    margin-bottom:30px;
}

.step {
    position: relative;
    width: 900px;
    padding: 40px;
    margin: 20px auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-size: 48px;
    line-height: 1.5;
}

.active{
    visibility: visible;
}

.impress-enabled .step {
    margin: 0;
    opacity: 0.3;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }

.slide{

/*Darpans css*/


background: rgba(0,187,212,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(0,187,212,1) 0%, rgba(0,97,100,1) 55%, rgba(1,50,51,1) 99%, rgba(1,50,51,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0,187,212,1)), color-stop(55%, rgba(0,97,100,1)), color-stop(99%, rgba(1,50,51,1)), color-stop(100%, rgba(1,50,51,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(0,187,212,1) 0%, rgba(0,97,100,1) 55%, rgba(1,50,51,1) 99%, rgba(1,50,51,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(0,187,212,1) 0%, rgba(0,97,100,1) 55%, rgba(1,50,51,1) 99%, rgba(1,50,51,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(0,187,212,1) 0%, rgba(0,97,100,1) 55%, rgba(1,50,51,1) 99%, rgba(1,50,51,1) 100%);
background: radial-gradient(ellipse at center, rgba(0,187,212,1) 0%, rgba(0,97,100,1) 55%, rgba(1,50,51,1) 99%, rgba(1,50,51,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bbd4', endColorstr='#013233', GradientType=1 );
border-radius: 10px;
-webkit-box-shadow: 13px 13px 30px 2px rgba(0,0,0,0.87);
-moz-box-shadow: 13px 13px 30px 2px rgba(0,0,0,0.87);
box-shadow: 13px 13px 30px 2px rgba(0,0,0,0.87);

/*Darpans css*/

    display: block;

    width: 900px;
    height: 700px;
    padding: 40px 60px;

    color: white;

    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1px;
}


.slide q {
    display: block;
    font-size: 50px;
    line-height: 72px;

    margin-top: 100px;
}

.slide q strong {
    white-space: nowrap;
}

#title {
    padding: 0;
}

#title .try {
    font-size: 64px;
    position: absolute;
    top: -0.5em;
    left: 1.5em;

    -webkit-transform: translateZ(20px);
    -moz-transform:    translateZ(20px);
    -ms-transform:     translateZ(20px);
    -o-transform:      translateZ(20px);
    transform:         translateZ(20px);
}

#title h1 {
    font-size: 190px;

    -webkit-transform: translateZ(50px);
    -moz-transform:    translateZ(50px);
    -ms-transform:     translateZ(50px);
    -o-transform:      translateZ(50px);
    transform:         translateZ(50px);
}

#title .footnote, #title .footnote {
    font-size: 32px;
}

#imagination {
    width: 600px;
}

#imagination .imagination {
    font-size: 78px;
}

#overview { display: none }

.impress-on-overview .step {
    opacity: 1;
    cursor: pointer;
}

.impress-enabled .hint { display: block }

.impress-enabled          { pointer-events: none }
.impress-enabled #impress { pointer-events: auto }

.names{
    margin-left: 200px;
}

.cube {
    color: #550000
}

.cube h1 {
    font-weight:bold;
    border-bottom:3px solid black;
    font-size:70px;
    margin-bottom:30px;
}

.cube h2 {
    font-weight:bold;
    border-bottom:3px solid black;
    font-size:45px;
    margin-bottom:30px;
}

.rightFace,
.leftFace,
.topFace,
.backRightFace,
.backLeftFace,
.bottomFace {
        width: 700px;
        height: 700px;
        background: white;
}
#spinner { position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 9999;background: url('preloader.gif') 50% 50% no-repeat #ede9df;}