#title-main{
	margin-top: 10px;
	font-weight: 600;
	font-size: 1.1em;
}
#graph { width:1200px;height:420px; border:3px solid black;border-radius:12px; margin:auto; background-image: url("1344899.jpg") ; margin-top: 10px; }
.main{
	width: 70%;
	color: #333300;
	margin: 0 10px 20px 10px;
	border: solid;
	border-radius: 5px;
	float: left;
}
.article-div{
	margin: 10px 7px 7px 7px;
	border: solid;
	border-radius: 10px;
}
.article-title{
	margin: 5px 0 5px 10px;
	color: inherit;
}
.article-title:hover{
	font-size: 1.0156em;
	font-weight: 600;

}
.description{
	margin: 5px 0 5px 10px;
}
.right-col{
	width: 25%;
	float: right;
	margin: 0 10px 20px 10px;
	padding: 10px 0 20px 5px;
	border: solid;
	border-radius: 3px;
}
.lists{
	list-style: square;
	padding-left: 25px;
	padding-top: 10px;
}